body {
    font-family: "Roboto", "Hero", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

#game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 400px;
    
}

#scoreboard {
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

#playerdiv {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 0;
}

#computerdiv {
    display: flex;
    flex-direction: column;
}

.computerheader {
    font-size: 30px;
    font-weight: 600;
}

.icon {
    background-color: rgb(65, 65, 179);
    font-size: 50px;
    border-radius: 15px;
    height: 100px;
    width: 100px;
}

#computerchoice {
    text-align: center;
    vertical-align: middle;
    align-self: center;
    margin: 100px 0px 150px 0px;
    line-height: 100px;
}